* {
  /* box-sizing: border-box; */
  text-rendering: optimizeLegibility;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* ========================================================
                          HEADER
==========================================================*/
header {
  height: 75px;
  width: 100vw;
  background-color: #ece2e2;
}

/* === left side of the header ===*/
#header-sidebar{
  width: 40%;
  height: 100%;
  display: flex; 
  justify-content: space-between; /* === space between self-image and sidebar icons ===*/ 
    border-right: 0.5px solid rgb(207, 207, 207);
}
#header-sidebar-icons{
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header-sidebar-icons ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

#header-sidebar-icons ul li{
  list-style-type: none;
}

#header-sidebar-icons button{
  border: none;
  background-color: inherit; /* === background color inherits from the parent (header) ===*/
}

#header-main{
  width: 60%;
  height: 100%;
}

#mySVG{
  background-color: black;
}
.main-content {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Sidebr Styling */
.sidebar {
  width: 40%;
  height: 100%;
}

/* This is the wrap around the message */
.sidebar > .message-preview-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}
/* These are the individual message preview box */
.message-preview-box {
  background-color: #ffffff;
  border: 0.5px solid rgb(231, 229, 229);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.message-preview-box:hover {
  background-color: rgb(237, 237, 238);
}
/* this will contain our chat image */
.img-wrap {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrap > img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(206, 205, 205);
  padding: 4px;
  background-image: url("./images/icons8-pokeball-50-50percent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145%;
  border: 1px solid rgb(190, 187, 187);
}



/* this div will contain the message senders name and the message preview */
.message-text-wrap {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.message-text-wrap > p {
  margin: 0;
}
/* this div will hold the date */
.date-wrap {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #9e9d9d;
  padding-right: 15px;
}
/* ========================================================
                      MAIN CHAT
==========================================================*/    
.main-chat {
  width: 60%;
  height: 100%;
  position: relative;
  background-color: rgba(245, 242, 242, 0.9);
  display: inline-block;
  overflow-y: auto;
}

.main-chat:after {
  content: " ";
  background-image: url("./images/pokeball-clipart-black-and-white-186526-9437009.svg");
  background-size: 25px;
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.chat-container {
  height: calc(100% - 100px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}
/* .chat-container-background{
    background-image: url("./images/pokeball-clipart-black-and-white-186526-9437009.svg");
    opacity: 0.04;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 60%;
    background-size: 25px;
} */

.chat-bubble {
  background-color: rgba(252, 98, 37, 0.5);
  box-shadow: 1px 2px 2px rgb(206, 205, 205);
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  position: relative;
  
}

.chat-bubble::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;

  /* Triangle */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgb(252, 98, 37); 
  margin-left: -10px;
  margin-bottom: -20px

}

.chat-bubble.out {
  background-color: rgba(113, 121, 116, 0.5);
  align-self: flex-end;
}

.chat-bubble.out::before{
  border-top-color: rgba(113, 121, 116, 0.5);
  right: -10px;

}



.message-box {
  width: 100%;
  height: 100px;
  background-color: #bdbdbd;
}
